* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  background-color: #000;
}

.container  {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1240px;
}

.logo {
  padding: 0 20px;
  padding-left: 30px;
}

.logo a  {
  text-decoration: none;
}

.logo a img {
  width: 100px;
  height: 50px;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu--navbar {
  display: flex;
}

.menu--navbar ul {
}

.menu--navbar ul li {
  list-style: none;
  display: inline-block;
}

.menu--navbar li a {
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.menu--navbar i {
  display: inline-block;
  text-align: right;
  margin-left: 10px;
  color: #fff;

}

.menu--navbar li:hover {
  color: #fff;
  background-color: #008000;
}

.dropdown {
  position: absolute;
  max-width: 200px;
  display: none;
  background-color: #000;
  text-align: left;
}

.dropdown-content {
  padding: 0;
  width: 142px;
}

li:hover .dropdown {
  display: block;
}

.dropdown ul li {
  display: block;
}