* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  background-color: #000;
}

.container  {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1240px;
}

.logo {
  padding: 0 20px;
  padding-left: 30px;
}

.logo a  {
  text-decoration: none;
}

.logo a img {
  width: 100px;
  height: 50px;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu--navbar {
  display: flex;
}

.menu--navbar ul {
}

.menu--navbar ul li {
  list-style: none;
  display: inline-block;

}

.menu--navbar li a {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 10px 5px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;

  justify-self: space-between;
  align-items: center;
}

.menu--navbar i {
  display: flex;
  text-align: right;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #fff;
}

.menu--navbar a:hover {
  color: #008000;
  transition: 0.1s;
}

.dropdown {
  position: absolute;
  max-width: 200px;
  display: none;
  background-color: #000;
  text-align: left;
  z-index: 1111;
}

.dropdown-content {
  padding: 0;
}

li:hover .dropdown {
  display: block;
  transition: 1s;

}

.dropdown ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown--item {
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
  
}

.dropdown--item a i {
  margin-top: 5px;
  margin-left: 20%;
  text-align: right;
}







.slider {
  flex: 1;
  overflow: hidden;
}

.slider--width {
  height:calc(100vh - 60px);
  display: flex;
  transition: all 0.5s;
}

.slider--item {
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  line-height: 80px;
}

.slider--controls {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider--control {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius:50%;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;

  color: #DDD;
  background: rgba(22, 22, 22, 0.5);
}

.slider--title {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 10px #000;
}

.slider--desc {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px #000;

}

.slider--body {
  max-width: 1000px;
}

.slider--body p {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  text-shadow: 2px 2px 5px #000;
}

.flutua {
  position: absolute;
  z-index: 999;
  top: 420px; 
}

.button {
  width: 150px;
  padding: 8px;
  margin: 20px;
  color: #fff;
  background: #008531;
  border: 1px solid #005b1e;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #003b12;
}














#consoles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.xbox-series {
  
}
.xbox-one {

}
.xbox-series--title,
.xbox-one--title {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  margin-left: 40px;
}

.borda{
  width: 100px;
  height: 10px;
  margin: 20px 0;
  margin-left: 40px;
  background-color:#005b1e
}

.xbox-series--desc,
.xbox-one--desc {
  font-size: 30px;
  margin: 20px; 
  margin-left: 40px;
}

.xbox-series--body,
.xbox-one--body {
  line-height: 30px;
  padding: 20px;
  margin: 20px;  
}



#parallax {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
}

.parallax-image {
  height: 100%;
  position:relative;
	background-size:cover;
	background-position:center;
  background-attachment:fixed;
  background-image: url('../images/XGPUltimate.jpeg');
  opacity: #000 0.8;
}

.parallax-conteudo {
  position:absolute;
	left:0;
	top:45%;
	width:100%;
  text-align:center;
  
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
  color: #DDD;
}

#studios {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  background:#000;
}

.studios {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.studios img {
  width: 100%
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  background: #000;

 color: #fff;
 text-transform: uppercase;
}

footer h2 {
  font-size: 30px;
  padding: 20px 0;
}

.footer--title {
  font-size: 30px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--list1 {
  padding: 20px;
  margin: 0 80px;
}

.footer--list2 {
  padding: 20px;
  margin: 0 80px;

}
.footer--list3 {
  margin: 0 80px;
  padding: 20px;
}

.footer--ul {
  list-style: none;
  line-height: 35px;
}

