* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  background-color: #000;
}

.container  {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1240px;
}

.logo {
  padding: 0 20px;
  padding-left: 30px;
}

.logo a  {
  text-decoration: none;
}

.logo a img {
  width: 100px;
  height: 50px;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu--navbar {
  display: flex;
}

.menu--navbar ul {
}

.menu--navbar ul li {
  list-style: none;
  display: inline-block;

}

.menu--navbar li a {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 10px 5px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;

  justify-self: space-between;
  align-items: center;
}

.menu--navbar i {
  display: flex;
  text-align: right;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #fff;
}

.menu--navbar a:hover {
  color: #008000;
  transition: 0.3s;

}

.dropdown {
  position: absolute;
  max-width: 200px;
  display: none;
  background-color: #000;
  text-align: left;
  z-index: 1111;
}

.dropdown-content {
  padding: 0;
}

li:hover .dropdown {
  display: block;
  transition: 1s;

}

.dropdown ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown--item {
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
  
}

.dropdown--item a i {
  margin-top: 5px;
  margin-left: 20%;
  text-align: right;
}







.slider {
  flex: 1;
  overflow: hidden;
}

.slider--width {
  height:calc(100vh - 60px);
  display: flex;
  transition: all 0.5s;
}

.slider--item {
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;

  display: flex;
  
}

.slider--controls {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider--control {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius:50%;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;

  color: #DDD;
  background: rgba(22, 22, 22, 0.5);
}